html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #1b8f4b 50%, #b0fac7 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #1b8f4b;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #f1f1f1b4;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #1b8f4b;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #1b8f4b;
  color: #fff;
  font-size: 35px;
  border-width: 0;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.582);
}

button:hover {
  background-color: #1b8f4b;
  border: 3px solid #043a1b;
  color: #043a1b;
  transition: 0.2s;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1b8f4b;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 10%;
}

.copyright {
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}

.social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.social_icon li {
  list-style: none;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.social_icon li a {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}

.social_icon li a:hover {
  transition: 0.4s;
  color: #043a1b;
}